html {

  overflow-y: auto;
  overflow-x: hidden;

  min-height: 100vh;

  .AdminSceneStream {
    background-color: #000000;
    max-width: 640px;
    min-height: 480px;
    height: auto;
    width: 100%;
  }

  .AdminSceneHeader {

  }

  .AdminSceneToolbox {

  }
}

