html {

  overflow-y: auto;
  overflow-x: hidden;

  .AdminScene {
    height: 100vh;

    .AdminSceneStream {
      background-color: #000000;
      max-width: 640px;
      min-height: 480px;
      height: 100%;
      width: auto;
    }

    .AdminSceneHeader {

    }

    .AdminSceneToolbox {

    }
  }


}

