html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: black;
  width: 100%;
  height: 100%;
}

.ClientScene {
  background: radial-gradient(89% 99% at 50% 50%, #E8EDF6 5%, #c0c0c0 100%);
  position: relative;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;

  video-js {
    display: contents;

    video {
      background: radial-gradient(89% 99% at 50% 50%, #E8EDF6 5%, #c0c0c0 100%);
      width: 100%;
      height: 100%;
      object-fit: contain;
      display: block;
      margin: 0;
    }
  }

  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    z-index: 10;
    pointer-events: none;
    color: white;
  }
}

