html {
  overflow-y: auto;
  overflow-x: hidden;

  background: black;

  min-height: 100vh;
  min-width: 100wv;

  .ClientScene {
    video {
      margin: 0px;
      background: radial-gradient(89% 99% at 50% 50%, #E8EDF6 5%, #c0c0c0 100%);
      width: 100%;
      height: 100vh;
    }
  }

}

